{% extends "layout.html" %}
{% load static%}

{% block content %}
<div>
    <h1 class="d-flex justify-content-center mt-7 t-text-[30px] sm:t-text-[50px] lg:t-text-[60px] xl:t-text-[70px] bannerfont">
        - 선수 도감 -</h1>
    <h3 class="d-flex justify-content-center mt-4 t-mb-9 t-text-[20px] sm:t-text-[20px] lg:t-text-[25px]  bannerfont">
        Powered by '세상에 나쁜 라켓은 없다'<br> since
        2014</h3>
    <marquee scrollamount=8>
        <h4 class="mt-4 t-mb-9 t-text-[11px] sm:t-text-[13px] lg:t-text-[15px]">
            프로 선수의 정보를 확인해보세요. 원하는 선수에 대해 의견을 남겨보세요! 🟡✧( •̀ ω •́ )_🎾</h4></marquee>

    <div class="t-grid sm:t-grid-cols-2 py-2 px-2 navbar-dark bg-dark">
        <div class="mb-2">
            <form class="" action="{% url 'player:playerMain'%}">
                <input class="form-control-lg t-flex-grow t-ml-[3px]" type="search" name="searchKeyword"
                       placeholder="선수 이름"
                       value="{{request.GET.searchKeyword}}" style="width:80%">
                <button type="submit" class="btn btn-warning t-ml-[3px]">검 색</button>
            </form>
        </div>

        <select class="btn btn-dark ml-auto" id="sort-select" name="sort-select" style=""
                onchange="location.href = '?searchKeyword={{request.GET.searchKeyword}}&sort=' + this.value;">

            <option value="" selected disabled hidden>정렬 기능</option>
            <option class="sort-names" value="names">이름순</option>
            <option class="sort-like" value="countLike">좋아요순</option>
        </select>

    </div>

    <section class="t-block section-player-list t-bg-gray-100 pt-4">
        <ul class="t-grid sm:t-grid-cols-2 md:t-grid-cols-3 lg:t-grid-cols-5 xl:t-grid-cols-7 t-gap-5">
            {%for item in playerItems%}
            <li class="t-group ">
                {% if item.countLike %}
                <div class="bg-warning t-inline-flex t-pr-[20px]" style="border-radius: 12px 12px 0 0">&nbsp&nbsp🧡 +
                    {{item.countLike}}
                </div>
                {% else %}
                <div class="t-bg-gray-300 t-inline-flex t-pr-[20px]" style="border-radius: 12px 12px 0 0">&nbsp&nbsp🤍 +
                    0
                </div>
                {% endif %}
                <a href="{%url 'player:playerDetail' item.id%}" class="">
                    <img src="{{item.thumb_img_url}}" style="aspect-ratio: 1 / 1.1"
                         class="t-border t-border-gray-300 t-bg-white t-w-full block t-transition-all group-hover:t-border-yellow-400 group-hover:t-border-4">
                </a>

                <div class="d-flex justify-content-center t-bg-gray-300 t-text-[15px]">
                    <ul>
                        <li> {{item.name}}</li>
                        <li> {{item.birth|date:'Y-m-d'}}</li>
                    </ul>

                </div>

                <section class="t-border t-bg-gray-100 t-border-dashed t-border-purple-300">

                    <div class="d-flex justify-content-center t-container-lg mx-auto ">
                        <ul class="t-flex"> {%for item1 in characteristicItems%}
                            {%if item.id == item1.playerJoin_id%}
                            <li class="t-flex-1 t-max-w-[65px] sm:t-max-w-[25px] ">
                                <img src="{{item1.thumb_img_url}}" width="100%" style="aspect-ratio: 1/1"
                                     class="t-block t-w-full"></li>
                            {%else%}

                            {%endif%}
                            {%endfor%}
                        </ul>
                        <!--                            {{item1.Characteristic}}-->

                    </div>

                </section>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>

{% endblock %}


{% block script %}
<script>

$('select[name=sort-select]').last().val('{{request.GET.sort}}');
</script>

{% endblock %}
