{% extends "layout.html" %}
{% load static%}

{% block content %}
<div>
    <h1 class="d-flex justify-content-center mt-7 t-text-[70px] bannerfont">테니스 라켓 콘텐츠</h1>
    <h3 class="d-flex justify-content-center mt-4 t-mb-9 t-text-[20px] bannerfont">Powered by '세상에 나쁜 라켓은 없다' since
        2013</h3>
    <h4 class="d-flex justify-content-center mt-4 t-mb-9 t-text-[15px] ">라켓은 계속 추가됩니다! ╰( °▽° )╯</h4>

    <div class="t-grid sm:t-grid-cols-2 py-2 px-2 navbar-dark bg-dark">
        <div>

            <form class="" action="{% url 'racket:racketMain'%}">
                <input class="form-control-lg t-ml-[3px]" type="search" name="searchKeyword" placeholder="라켓 이름을 적어주세요"
                       value="{{request.GET.searchKeyword}}">
                <button type="submit" class="btn btn-warning t-ml-[3px]">검 색</button>
            </form>
        </div>

        <select class="btn btn-warning ml-auto" id="sort-select" onchange="location = this.value;">
            <option class="none" value="/">전체정렬</option>
            <option class="sort-id" value="?sort=id">아이디순</option>
            <option class="sort-likes" value="?sort=names">이름순</option>
            {% if user.is_authenticated %}
            <option class="sort-mypost" value="?sort=mypost">구현중</option>
            {% endif %}
        </select>

    </div>

    <section class="t-block section-racket-list t-bg-gray-200 pt-4">
        <ul class="t-grid sm:t-grid-cols-2 md:t-grid-cols-3 lg:t-grid-cols-4 xl:t-grid-cols-5 t-gap-5">
            {%for item in racketItems%}
            <li class="t-group">
                <a href="{%url 'racket:racketDetail' item.id%}"
                   class="t-block t-block overflow-hidden ">
                    <img src="{{item.thumb_img_url}}" style="aspect-ratio: 1 / 1" height="%" width="200"
                         class="t-w-full block t-transition-all t-group-hover:scale-[150%]"><br>
                </a>

                <div class="d-flex justify-content-center t-bg-gray-300 ">
                    <ul>
                        <li> {{item.name}} ({{item.regDateInt}}년)</li>
                        <li>세나라 평점 : <span
                                class="t-text-red-500">[ {{racketAdminScore.adminAvgScore|floatformat:"1"}} ]</span></li>
                        <li>사용자 평점 : <span
                                class="t-text-red-500">[ {{racketUserScore.visitorScore__avg|floatformat:"1"}} ]</span></li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>


    </section>


</div>

{% endblock %}
