@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KOTRALEAP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body ul,
html > body li {
    margin:0;
    padding:0;
    list-style:none;
}

html > body .bannerfont{
    font-family: "KOTRALEAP";
    text-underline-position: under;
}

html > body {
    font-family: "GongGothicMedium";
    text-underline-position: under;
}

html > body :is(h1, h2, h3, h4, h5, h6) {
    font-weight:normal;
    margin:0;
    font-size:1rem;
}

html > body .hidden{
    display:none
}

.checked {
    color: red
}

.my-btn{
    background-color: inherit !important;
    border: 0 !important;
}

.fadein{
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadein {

        /* Firefox */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {

        /* Safari and Chrome */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-o-keyframes fadein {

        /* Opera */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

.swiper-button-next {
  background: url(/godiva/img/common/next.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
}

.swiper-button-prev {
  background: url(/godiva/img/common/prev.png) no-repeat;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


#playerChar img{
    position: relative;
    display: inline-block;
}


.arrow_box {
  display: none;
  position: absolute;
  width: 100px;
  padding: 8px;
  left: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 14px;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

span:hover + p.arrow_box {
  display: block;
}