@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KOTRALEAP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body ul,
html > body li {
    margin:0;
    padding:0;
    list-style:none;
}

html > body .bannerfont{
    font-family: "KOTRALEAP";
    text-underline-position: under;
}

html > body {
    font-family: "GongGothicMedium";
    text-underline-position: under;
}

html > body :is(h1, h2, h3, h4, h5, h6) {
    font-weight:normal;
    margin:0;
    font-size:1rem;
}

