.t-mt-\[100px\] {
  margin-top: 100px;
}

.t-mb-9 {
  margin-bottom: 2.25rem;
}

.t-ml-\[3px\] {
  margin-left: 3px;
}

.t-block {
  display: block;
}

.t-inline-block {
  display: inline-block;
}

.t-grid {
  display: grid;
}

.t-hidden {
  display: none;
}

.t-h-\[22px\] {
  height: 22px;
}

.t-w-full {
  width: 100%;
}

.t-w-\[22px\] {
  width: 22px;
}

.t-flex-grow {
  flex-grow: 1;
}

.t-grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.t-gap-5 {
  gap: 1.25rem;
}

.t-whitespace-nowrap {
  white-space: nowrap;
}

.t-rounded-full {
  border-radius: 9999px;
}

.t-bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.t-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.t-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.t-bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.t-text-\[30px\] {
  font-size: 30px;
}

.t-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.t-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.t-text-\[10px\] {
  font-size: 10px;
}

.t-text-\[20px\] {
  font-size: 20px;
}

.t-text-\[11px\] {
  font-size: 11px;
}

.t-text-\[15px\] {
  font-size: 15px;
}

.t-leading-normal {
  line-height: 1.5;
}

.t-leading-relaxed {
  line-height: 1.625;
}

.t-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.t-text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.t-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@font-face {
  font-family: 'KOTRALEAP';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: 'GongGothicMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body ul,
html > body li {
  margin:0;
  padding:0;
  list-style:none;
}

html > body .bannerfont{
  font-family: "KOTRALEAP";
  text-underline-position: under;
}

html > body {
  font-family: "GongGothicMedium";
  text-underline-position: under;
}

html > body :is(h1, h2, h3, h4, h5, h6) {
  font-weight:normal;
  margin:0;
  font-size:1rem;
}

html > body .hidden{
  display:none
}

.checked {
  color: red
}

.my-btn{
  background-color: inherit !important;
  border: 0 !important;
}

.fadein{
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 640px) {
  .sm\:t-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:t-text-\[40px\] {
    font-size: 40px;
  }

  .sm\:t-text-\[12px\] {
    font-size: 12px;
  }

  .sm\:t-text-\[50px\] {
    font-size: 50px;
  }

  .sm\:t-text-\[20px\] {
    font-size: 20px;
  }

  .sm\:t-text-\[13px\] {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .md\:t-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:t-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:t-text-\[50px\] {
    font-size: 50px;
  }

  .lg\:t-text-\[13px\] {
    font-size: 13px;
  }

  .lg\:t-text-\[60px\] {
    font-size: 60px;
  }

  .lg\:t-text-\[25px\] {
    font-size: 25px;
  }

  .lg\:t-text-\[15px\] {
    font-size: 15px;
  }
}

@media (min-width: 1280px) {
  .xl\:t-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .xl\:t-text-\[50px\] {
    font-size: 50px;
  }

  .xl\:t-text-\[15px\] {
    font-size: 15px;
  }

  .xl\:t-text-\[70px\] {
    font-size: 70px;
  }
}