.t-block {
  display: block;
}

.t-grid {
  display: grid;
}

.t-cursor-pointer {
  cursor: pointer;
}

.t-gap-5 {
  gap: 1.25rem;
}

.t-whitespace-nowrap {
  white-space: nowrap;
}

.t-bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.t-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.t-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.t-text-\[50px\] {
  font-size: 50px;
}

.t-text-\[20px\] {
  font-size: 20px;
}

@font-face {
  font-family: 'KOTRALEAP';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');

  font-weight: normal;

  font-style: normal;
}

html > body ul,
html > body li {
  margin:0;
  padding:0;
  list-style:none;
}

html > body {
  font-family: "KOTRALEAP";
  text-underline-position: under;
}

html > body :is(h1, h2, h3, h4, h5, h6) {
  font-weight:normal;
  margin:0;
  font-size:1rem;
}

@media (min-width: 640px) {
  .sm\:t-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:t-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:t-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .xl\:t-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

